{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href="{% static 'generator/css/all.css'%}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <button>
            HELLO
        </button>
    </div>
    <div class="container">
        <video src="" width="100%" controls loop></video>
    </div>
    <div class="container">
        <button>
            HELLO
        </button>
    </div>
</body>
</html>

